:host {
  width: 30%;
}

.chat-list {
  height: 100%;
  color: #202124;
  display: inline-block;
  width: 100%;

  //** Header:
  .header {
    background-color: #f0f2f5;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    .user-img {
      cursor: pointer;
      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }

    // Nav:
    .nav {
      display: flex;
      span {
        color: #54656f;
        padding: 8px;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .community {
      }
    }
  }

  //** Search:
  .search-container {
    padding: 10px 0;
    display: flex;
    width: 100%;

    .search {
      // color: #dadcdc;
      width: 90%;
      padding: 0 12px;
      display: flex;
      background-color: #f0f2f5;
      border-radius: 8px;

      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 35px;
      border-radius: 8px;
      padding-right: 32px;
      height: 35px;

      .search-icon {
        // position: relative;
        left: 0;
        color: #667781;
      }

      input {
        border: none;
        background-color: unset;
        font-size: 15px;
        white-space: nowrap;
        padding: 0;
        // position: relative;
        width: 100%;
        min-height: 20px;
        line-height: 20px;
        word-wrap: break-word;

        &:focus {
          background-color: unset;
          outline: none;
          color: #3b4a54;
        }
      }
    }

    .icon {
      // width: 25px;
      margin: 0 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #667781;
    }
  }

  //** List:
  .list {
    height: calc(100vh - 169px);
    overflow-y: auto;

    //
    .chat-preview {
      &.selected {
        background-color: #f0f2f5;
      }

      &:hover {
        background-color: #f0f2f5;
      }

      min-height: 70px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        padding: 0 15px 0 13px;
      }

      .details-preview {
        width: 100%;
        padding-right: 13px;
        .name-and-date {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          justify-content: space-between;

          .full-name {
            color: #111b21;
          }
          small {
            color: #667781;
          }
        }
        p {
          color: #667781;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  :host {
    width: 30%;
  }
}
