<section class="chat-list">
  <!-- Header: -->
  <header class="header">
    <div class="user-img img" (click)="showProfile()">
      <img [src]="currentUser?.imgUrl" alt="" />
    </div>
    <!-- Nav: -->
    <div class="nav">
      <span class="community" (click)="showCommunities()">
        <app-community-logo />
      </span>

      <span class="status">
        <app-status-logo />
      </span>

      <span class="new-chat" (click)="showNewChat()">
        <app-new-chat-logo />
      </span>

      <span class="menu">
        <app-menu-logo />
      </span>
    </div>
  </header>

  <!-- Search: -->
  <div class="search-container">
    <div class="search">
      <span class="search-icon icon">
        <app-search-logo />
      </span>
      <!-- Input: -->
      <input type="text" placeholder="Search or start new chat" />
    </div>
    <span class="icon unread-chat-filter">
      <app-filter-logo />
    </span>
  </div>

  <!-- List: -->
  <div class="list">
    <p class="no-chats-msg" *ngIf="!chats?.length" >No chats yet...</p>
    <app-chat-preview   
     *ngFor="let chat of chats"
     [chat]="chat"
     class="chat-preview"
     [ngClass]="selectedChatId === chat.id ? 'selected' : ''"
     (click)="selectChat(chat.id)" 
     [chats]="chats"
    />
  </div>
</section>
