<section class="main-page">
  <div class="bg"></div>
  <div class="bg-before">
  </div>

  <div class="wrapper">
    <!-- modals: -->
    <app-new-chat *ngIf="modalNameToShow === 'new-chat'" (selectModal)="onShowModal($event)" />
    <app-profile *ngIf="modalNameToShow === 'profile'" (selectModal)="onShowModal($event)"/>

    <!-- *ngIf="modalNameToShow === ''"  -->
    <app-chat-list
     [chats]="chats" [selectedChatId]="selectedChat?.id" 
     (selectModal)="onShowModal($event)" 
     (selectChat)="onSelectChat($event)"
     />

    <app-message *ngIf="selectedChat" [messages]="selectedChat?.messages" />
    <app-no-selected-chat *ngIf="!selectedChat" />
  </div>
</section>
