<section class="main-page">
  <div class="bg"></div>
  <div class="bg-before">
  </div>

  <div class="wrapper">
    <!-- Main cmps: -->
     <!-- Chats: -->
    <app-chat-list [chats]="chats" [selectedChatId]="selectedChat?.id" (selectModal)="onShowModal($event)" (selectChat)="onSelectChat($event)" ></app-chat-list>
    <!-- Messages -->
    <app-message
     *ngIf="selectedChat && messages" 
     (selectModal)="onShowModal($event)" 
     [messages]="messages" 
     [ngClass]="modalNameToShow === 'search-message' || modalNameToShow === 'contact-info' ? 'w-40': ''" 
     />
    
    <!-- No-selected chat: -->
    <app-no-selected-chat *ngIf="!selectedChat" [ngClass]="modalNameToShow === 'search-message'  ||  modalNameToShow === 'contact-info' ? 'w-40': ''"  />

    <!-- modals: -->
    <app-new-chat *ngIf="modalNameToShow === 'new-chat'" (selectModal)="onShowModal($event)" />

    <app-communities *ngIf="modalNameToShow === 'communities'" (selectModal)="onShowModal($event)" />

    <app-profile *ngIf="modalNameToShow === 'profile'" (selectModal)="onShowModal($event)" />

    <app-search-message *ngIf="modalNameToShow === 'search-message'" (selectModal)="onShowModal($event)" />

    <app-contact-info *ngIf="modalNameToShow === 'contact-info'" (selectModal)="onShowModal($event)"  />

    <!-- <app-status *ngIf="modalNameToShow === 'status'" /> -->
  </div>
</section>
