<section class="main-page">
  <div class="bg"></div>
  <div class="bg-before">
  </div>

  <div class="wrapper">
    <!-- **Main cmps:** -->
     <!-- Chats: -->
    <app-chat-list [chats]="chats"
      [selectedChatId]="selectedChat?.id"
      (selectModal)="onShowModal($event)"
      (selectChat)="onSelectChat($event)"
      [currentUser]="currentUser"
    ></app-chat-list>

    <!-- Messages -->
    <app-message
     *ngIf="selectedChat" 
     (selectModal)="onShowModal($event)" 
     [messages]="selectedChat.messages" 
     [otherUser]="otherUser" 
     [selectedChat]="selectedChat" 
     [ngClass]="modalNameToShow === 'search-message' || modalNameToShow === 'contact-info' ? 'w-40': ''" 
    />
    

    <!-- No-selected chat: -->
    <app-no-selected-chat 
     *ngIf="!selectedChat" 
     [ngClass]="modalNameToShow === 'search-message'  ||  modalNameToShow === 'contact-info' ? 'w-40': ''"  
    />

    <!-- **modals:** -->
    <app-new-chat *ngIf="modalNameToShow === 'new-chat'"
     (selectModal)="onShowModal($event)" 
     (selectContact)="onSelectContact($event)"
     [contacts]="contacts" 
    />

    <app-communities 
     *ngIf="modalNameToShow === 'communities'" 
     (selectModal)="onShowModal($event)" 
    />

    <app-profile
     *ngIf="modalNameToShow === 'profile'"
      (selectModal)="onShowModal($event)"
      [currentUser]="currentUser"
       />

    <app-search-message 
     *ngIf="modalNameToShow === 'search-message'" 
     (selectModal)="onShowModal($event)" 
    />

    <app-contact-info 
     *ngIf="modalNameToShow === 'contact-info'" 
     (selectModal)="onShowModal($event)" 
     [otherUser]="otherUser"  
    />

    <!-- <app-status *ngIf="modalNameToShow === 'status'" /> -->
  </div>
</section>
