<section class="new-chat">
  <!-- Header: -->
  <header class="header">
    <div class="container">
      <div class="back">
        <span (click)="goBack()">
          <app-back-logo />
        </span>
      </div>
      <div class="text">
        <h1>New chat</h1>
      </div>
    </div>
  </header>

  <!-- Search: -->
  <div class="search-container">
    <div class="search">
      <span class="search-icon icon">
        <app-search-logo />
      </span>
      <!-- Input: -->
      <input type="text" placeholder="Search or start new chat" />
    </div>
  </div>

  <!-- Contact list: -->
  <app-contact-list [contacts]="contacts"  (selectContact)="onSelectContact.emit($event)"/>
</section>
