<section class="communities">
  <!-- Header: -->
  <header class="header">
    <div class="container">
      <div class="back">
        <!-- SVG logo, back -->
        <span (click)="goBack()">
          <app-back-logo />
        </span>
      </div>
      <div class="text">
        <h1>Communities</h1>
      </div>
    </div>
  </header>

  <!-- New community: -->
  <div class="new-community">
    <span>
      <app-new-community-logo />
    </span>
    <p>New community</p>
  </div>

  <!-- Communities list: -->
  <div class="communities-list">
    <div *ngFor="let community of communities" class="community-preview">
      <span>
        <img
          src="https://images.unsplash.com/photo-1675165309041-1df4acd09e09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
          alt=""
      /></span>
      <p>Community name</p>
    </div>
  </div>
</section>
