<section class="home-page">
  <div class="bg-before"></div>
  <div class="wrapper">
    <header class="header">
      <span>
        <h2>LOGO</h2>
        WhatsApp Web
      </span>
    </header>

    <div class="window">
      <div class="main">
        <div class="details">
          <div class="container">
            <div class="txt">
              <p class="title">To use WhatsApp on your computer:</p>
              <ol>
                <li>Open WhatsApp on your phone</li>
                <li>Tap Menu or settings and select Linked Device</li>
                <li>Tap on Link a Device</li>
                <li>Point your phone to this screen to capture the code</li>
              </ol>
            </div>
            <div class="barcode">
              <div class="qrcode"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tutorial">
        <p class="title">Tutorial</p>
        <div class="link">
          <a href="">Need help to get started?</a>
        </div>

        <div class="v"></div>
      </div>
    </div>
  </div>
</section>
