<section class="profile">
  <header class="header">
    <div class="container">
      <div class="back">
        <!-- SVG logo, back -->
        <span (click)="goBack()">
          <app-back-logo />
        </span>
      </div>
      <div class="text">
        <h1>Profile</h1>
      </div>
    </div>
  </header>

  <!-- Image: -->
  <div class="img-container">
    <div>
      <img [src]="currentUser?.imgUrl" alt="" />
    </div>
  </div>

  <!-- Name: -->
  <div class="name">
    <div class="title"><span>Your name</span></div>
    <div class="name-text">
      <p *ngIf="!isEditName">
        {{ currentUser?.fullname }}
      </p>

      <!-- Edit name: -->

      <div class="edit" *ngIf="isEditName">
        <input type="text" [(ngModel)]="fullnameToEdit" />
        <!-- Emoji svg: -->
        <span class="emojis"
          >
          <app-emoji-logo />
      </span>

        <!-- Check mark svg: -->
        <span class="checkmark" (click)="saveUser()">
          <app-check-mark-logo />
      </span>
      </div>

      <!-- Edit button -->
      <span *ngIf="!isEditName" (click)="editName()"
        >
        <app-edit-logo />
    </span>
    </div>
  </div>

  <div class="pushname-description">
    <span
      >This is not your username or pin. This name will be visible to your
      AchchhApp contacts.</span
    >
  </div>

  <!-- About: -->
  <div class="about">
    <div class="title"><span>About</span></div>
    <div class="about-text">
      <p *ngIf="!isEditAbout">{{ aboutToEdit }}</p>

      <!-- Edit about: -->
      <div class="edit" *ngIf="isEditAbout">
        <input type="text" [(ngModel)]="aboutToEdit" />
        <!-- Emoji svg: -->
        <span class="emojis"
          >
          <app-emoji-logo />
      </span>

        <!-- Check mark svg: -->
        <span class="checkmark" (click)="saveUser()">
          <app-check-mark-logo />
      </span>
      </div>

      <!-- Edit button -->
      <span *ngIf="!isEditAbout" (click)="editAbout()"
        >
        <app-edit-logo />
    </span>
    </div>
  </div>
</section>
