<section class="profile">
  <header class="header">
    <div class="container">
      <div class="back">
        <span (click)="goBack()">
          <app-back-logo />
        </span>
      </div>
      <div class="text">
        <h1>Profile</h1>
      </div>
    </div>
  </header>

  <!-- Image: -->
  <form class="img-container"  
       >
    <label htmlFor="imgUrl" className="add-file">

      <div class="img-and-bg" (mouseenter)="mouseEntered()"  (mouseleave)="mouseLeaved()">
        <img [src]="currentUser?.imgUrl" alt="" />
        <div *ngIf="isShownUploading" class="bg">
          <span>
            <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="currentColor" d="M21.317,4.381H10.971L9.078,2.45C8.832,2.199,8.342,1.993,7.989,1.993H4.905 c-0.352,0-0.837,0.211-1.078,0.468L1.201,5.272C0.96,5.529,0.763,6.028,0.763,6.38v1.878c0,0.003-0.002,0.007-0.002,0.01v11.189 c0,1.061,0.86,1.921,1.921,1.921h18.634c1.061,0,1.921-0.86,1.921-1.921V6.302C23.238,5.241,22.378,4.381,21.317,4.381z  M12.076,18.51c-3.08,0-5.577-2.497-5.577-5.577s2.497-5.577,5.577-5.577s5.577,2.497,5.577,5.577 C17.654,16.013,15.157,18.51,12.076,18.51z M12.076,9.004c-2.17,0-3.929,1.759-3.929,3.929s1.759,3.929,3.929,3.929 s3.929-1.759,3.929-3.929C16.004,10.763,14.245,9.004,12.076,9.004z"></path></svg>
          </span>
          <p>Change profile photo</p>
        </div>
      </div>
      <!-- input to upload image (hidden): -->
      <input
      *ngIf="isShownUploading"
      (change)="onUploadImage($event)"
      id="imgUrl"
      type="file"
      name="imgUrl"
      hidden
      />
    </label>
  </form>

  <!-- Name: -->
  <div class="name">
    <div class="title"><span>Your name</span></div>
    <div class="name-text">
      <p *ngIf="!isEditName">
        {{ currentUser?.fullname }}
      </p>

      <!-- Edit name: -->
      <div class="edit" *ngIf="isEditName">
        <input
         type="text"
         autofocus 
         [(ngModel)]="fullnameToEdit" 
       
        />
        <span class="emojis">
          <app-emoji-logo />
      </span>

        <span class="checkmark" (click)="saveUser()">
          <app-check-mark-logo />
      </span>
      </div>

      <span *ngIf="!isEditName" (click)="editName()">
        <app-edit-logo />
    </span>
    </div>
  </div>

  <div class="pushname-description">
    <span
      >This is not your username or pin. This name will be visible to your
      AchchhApp contacts.</span>
  </div>

  <!-- About: -->
  <div class="about">
    <div class="title"><span>About</span></div>
    <div class="about-text">
      <p *ngIf="!isEditAbout">{{ aboutToEdit }}</p>

      <!-- Edit about: -->
      <div class="edit" *ngIf="isEditAbout">
        <input 
         autofocus 
         type="text" 
         [(ngModel)]="aboutToEdit" 
       
        />
        <span class="emojis">
          <app-emoji-logo />
      </span>

        <span class="checkmark" (click)="saveUser()">
          <app-check-mark-logo />
      </span>
      </div>


      <span *ngIf="!isEditAbout" (click)="editAbout()">
        <app-edit-logo />
    </span>
    </div>
  </div>
</section>
