:host {
  width: 70%;
}

.no-selected-chat {
  position: relative;
  background-color: #f0f2f5;
  width: 100%;
  height: 100%;
  color: #41525d;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    cursor: default;
    margin-top: -20px;
    text-align: center;
    width: 80%;
    max-width: 560px;

    .logo {
    }
  }

  .text-container {
    h1 {
      margin-top: 40px;
      display: inline-flex;
      font-size: 32px;
      font-weight: 300;
      line-height: 37.5px;
    }

    div {
    }
    .end-to-end {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 40px;
      font-size: 14px;
      line-height: 20px;

      span {
        margin-bottom: 2px;
      }
    }
  }
  .line-bottom {
    border-top: 6px solid #25d366;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    content: "";
  }
}
