<section class="contact-info">
  <header class="header">
    <!-- Logo icon-back:  -->
    <span class="back-icon" (click)="goBack()">
      <app-back-logo />
    </span>
    <h1>Contact info</h1>
  </header>

  <div class="container">
    <!-- Image: -->
    <div class="img-container">
      <div>
        <img [src]="otherUser?.imgUrl" alt="" />
      </div>
      <div>
        <h2>{{ otherUser?.fullname }}</h2>
        <p>{{ otherUser?.email }}</p>
      </div>
    </div>

    <!-- About: -->
    <div class="about">
      <p>About</p>
      <span>m{{ otherUser?.about }}</span>
    </div>

    <!-- Media, link, docs: -->
    <div class="media-link-docs">
      <p>Media, links and docs</p>

      <!-- Logo: -->
      <span
        >
        <app-arrow-right-logo/>
      </span>
    </div>

    <!-- Delete: -->
    <div class="delete-container">
      <!-- Delete logo: -->
      <span
        >
        <app-delete-logo />
      </span>

      <p>Delete chat</p>
    </div>
  </div>
</section>
