<section class="contact-list">
  <!-- Title: -->
  <div class="title">Contacts on WhatsApp</div>

  <!-- Contact preview: -->
  <section *ngFor="let contact of contacts" class="contact-preview">
    <div class="img-container">
      <img
        src="https://res.cloudinary.com/duajg3ah1/image/upload/v1660763357/shlomiN_mewit4.jpg"
        class="img"
        alt=""
      />
    </div>
    <div>
      <p class="fullname">Abu Hasan</p>
      <p class="about">About</p>
    </div>
  </section>
</section>
