<section class="message">
  <!-- Header: -->
  <header class="header">
    <div class="container" (click)="showContactInfo(otherUser?.id)">
      <img [src]="otherUser?.imgUrl" alt="" />
      <div class="message-details">
        <h2>{{ otherUser?.fullname }}</h2>
        <p>other users</p>
      </div>
    </div>
    <div class="btns">
      <span class="search-icon" (click)="showSearchMessage()">
        <app-search-logo></app-search-logo>
      </span>

      <span class="menu">
        <app-menu-logo />
      </span>
    </div>
  </header>

  <!-- Messages List: -->
  <div class="list">
    <!-- Message Preview -->
    <div
      *ngFor="let message of messages"
      class="message-preview"
      [ngClass]="message.userId === currentUser?.id ? 'my-msg' : 'friend-msg'"
    >
      <div class="msg">
        <span class="x">
          <app-edge-green-msg-logo />
        </span>

        <!-- The message -->
        <p>{{ message.text }}</p>
        <div class="time">
          <small>{{ message.createdAt }}</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Input Message: -->
  <section class="input-message">
    <div class="container">
      <div class="icons">

        <span class="emojis"
          >
          <app-emoji-logo />
        </span>

        <span class="attach"
          >
          <app-attach-logo />
        </span>
      </div>
      <!-- Input: -->
      <input
        class="input"
        type="text"
        placeholder="Type a message"
        [(ngModel)]="textMsg"
        (keyup.enter)="onSend()"
      />

      <span *ngIf="!textMsg" class="voice-message">
        <app-voice-logo />
  
      </span>
      <span class="send-logo" *ngIf="textMsg" (click)="onSend()">
        <app-send-logo />
      </span>
    </div>
  </section>
</section>
