<section class="message">
  <!-- Header: -->
  <header class="header">
    <div class="container" (click)="showContactInfo(otherUser?.id)">
      <img [src]="otherUser?.imgUrl" alt="" />
      <div class="message-details">
        <h2>{{ otherUser?.fullname }}</h2>
        <p>{{otherUser?.email}}</p>
        <!-- <p>{{infoText}}</p> -->
      </div>
    </div>
    <div class="btns">
      <span class="search-icon" (click)="showSearchMessage()">
        <app-search-logo></app-search-logo>
      </span>

      <span class="menu">
        <app-menu-logo />
      </span>
    </div>
  </header>

  <!-- Messages List: -->
  <div class="list list-messages" [ngClass]="isEmojiShown? 'height-with-emoji': ''">
    <!-- Message Preview -->
    <div
      *ngFor="let message of messages"
      class="message-preview"
      [ngClass]="message.userId === currentUser?.id ? 'my-msg' : 'friend-msg'"
    >
      <div class="msg">
        <span class="x">
          <app-edge-green-msg-logo />
        </span>

        <!-- The message -->
        <p>{{ message.text }}</p>
        <div class="time">
          <small>{{ message.createdAt | date: 'h:mm a'}}</small>
        </div>
      </div>
    </div>
  </div>

  <emoji-mart 
   *ngIf="isEmojiShown" 
   (emojiClick)="addEmoji($event)" 
   title="Pick your emoji…" emoji="point_up" 
   [class]="modalNameToShow === 'search-message'  ||  modalNameToShow === 'contact-info' ? 'w-40': 'w-70'"  
  >
</emoji-mart>
  

  <!-- Input Message: -->
  <section class="input-message"
   [ngClass]="isEmojiShown? 'height-with-emoji': ''"  
   [class]="modalNameToShow === 'search-message'  ||  modalNameToShow === 'contact-info' ? 'w-40': ''"  >
    <div class="container">
      <div class="icons">

        <span class="emojis" (click)="showEmoji()">
          <app-emoji-logo *ngIf="!isEmojiShown" />
          <app-x-logo *ngIf="isEmojiShown"/>
        </span>

        <span class="attach"
          >
          <app-attach-logo />
        </span>
      </div>
      <!-- Input: -->
      <input
        #input
        class="input"
        type="text"
        placeholder="Type a message"
        [(ngModel)]="textMsg"
        (keyup.enter)="onSend()"
        (focusout)="focusOut()"
      />

      <span *ngIf="!textMsg" class="voice-message">
        <app-voice-logo />
  
      </span>
      <span class="send-logo" *ngIf="textMsg" (click)="onSend()">
        <app-send-logo />
      </span>
    </div>
  </section>


</section>
