<section class="search-message">
  <header class="header">
    <!-- Logo icon-back:  -->
    <span class="back-icon" (click)="goBack()">
      <app-x-logo />
    </span>
    <h1>Search Messages</h1>
  </header>

  <!-- Search: -->
  <div class="search-container">
    <div class="search">
      <!-- Search icon: -->
      <span class="search-icon icon">
        <app-search-logo />
      </span>
      <!-- Input: -->
      <input type="text" placeholder="Search or start new chat" />
    </div>
  </div>

  <!-- Result list: -->
  <div class="search-result-list">
    <div *ngFor="let result of searchResults" class="search-result-preview">
      <p class="date">Monday</p>
      <div class="text-and-name">
        <p class="name">name:</p>
        <p class="text">text</p>
      </div>
    </div>
  </div>
</section>
